# ID=
DISPATCHER_BASE_URL=http://localhost:2333
DISPATCHER_TOKEN=
COLLECTOR_BASE_URL=http://localhost:2334
COLLECTOR_TOKEN=
# TIMEOUT=
# CAPACITY=
EXTRACTORS=@ecrawler/extractor-dummy/data.ts,@ecrawler/extractor-dummy/link.ts
CRAWLEE_PERSIST_STORAGE=false
